name: Download Docker Image
on: workflow_dispatch

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Pull Image
        run: docker pull --platform linux/amd64 nvidia/cuda:13.1.1-cudnn-devel-ubuntu24.04

      - name: Save and Compress Image
        run: |
          docker save nvidia/cuda:13.1.1-cudnn-devel-ubuntu24.04 | gzip > cuda-image.tar.gz

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cuda-image
          path: cuda-image.tar.gz
          retention-days: 1
